# Enable Rewrite Engine
RewriteEngine On

# Set the base directory
RewriteBase /project_uas_web/

# Redirect to index.php if file/directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Prevent directory listing
Options -Indexes

# Set default charset
AddDefaultCharset UTF-8